body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    color: #333;
}

header{
    background-color: #2c3e50;
    padding: 20px;
    color: white;
}

nav{
    margin-top: 10px;
}

nav a{
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #34495e;
    border-radius: 12px;
}

table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

thead{
    background-color: #2c3e50;
    color: white;
}

th,td{
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover{
    background-color: #f1f1f1;
    transition: 0.3s;
}

tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

td:nth-child(4){
    font-weight: bold;
    color: #27ae60;
}


footer{
    padding: 15px;
    background-color: #2c3e50;
    color: white;
    margin-top: 180px
}