body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    color: #333;
}


header{
    background-color: #2c3e50;
    padding: 20px;
    color: white;
}

header h1{
    margin: 0;
    font-size: 32px;
}


nav{
    margin-top: 10px;
}

nav a{
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #34495e;
    border-radius: 12px;
}


section{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 100%;
}


article{
    background: #ecf0f1;
    padding: 15px;
    border-left: 5px solid #3498db;
    border-radius: 6px;
    margin-top: 20px;
}

footer{
    padding: 15px;
    background-color: #2c3e50;
    color: white;
    margin-top: 40px;
}




