body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

header{
    background-color: #2c3e50;
    padding: 20px;
    color: white;
}

nav{
    margin-top: 10px;
}

nav a{
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #34495e;
    border-radius: 12px;
}

form{
    width: 60%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label{
    font-size: 18px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"],
select,
textarea{
    width: 100%;
    padding: 12px;
    padding-right: 0PX;
    margin-top: 6px;
    margin-bottom: 18px;
    border: 1px solid #CCC;
    border-radius: 6PX;
    font-size: 16px;
    box-sizing: border-box;
    transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus{
    border-color: #298069;
    outline: none;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.4);
}

input[type="radio"]{
    margin-right: 8px;
}

input[type="submit"],
input[type="reset"]{
    width: 48%;
    padding: 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    margin-top: 10px;
}

input[type="submit"]{
    background-color: #27ae60;
}


input[type="reset"]{
    background-color: #c03926;
}


input[type="submit"]:hover{
    background-color: #219150;
}

input[type="reset"]:hover{
    background-color: #a83224;
}


footer{
    padding: 15px;
    background-color: #2c3e50;
    color: white;
}